<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-img-top">
                        <%= image_tag(@user.get_gravatar, alt: @user.name, class: 'w-100')%>
                    </div>
                    <div class="card-header">
                        <h3 class="text-center">Verification</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">Facebook</div>
                            <div class="col-4">
                                <i class="fa fa-check text-success float-right"></i>
                            </div>

                            <div class="col-8">Phone Number</div>
                            <div class="col-4">
                                <i class="fa fa-times text-danger float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h1>
                    <%=@user.name%>
                </h1>
                <hr>
                <h3>
                    Rooms (<%=@rooms.count%>)
                </h3>
                <div class="row">
                    <% @rooms.each do |room|%>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-img-top">
                                    <%=image_tag room.photos.first.image, class: 'w-100'%>
                                </div>
                                <div class="card-body">
                                    
                                    <%=link_to room.room_name,room_path(room)%>
                                    <br>
                                    $<%=room.price%> - 
                                    <%=room.room_type%> - 
                                    <%= pluralize(room.bedroom_count, "Bedroom") %>
                                    <br>
                                    <div class="" id="stars_<%= room.id %>"></div>
                                    <%= pluralize(room.guest_reviews.count, "Reviews") %>
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#stars_<%= room.id %>').raty({
                                path: '/assets',
                                score: '<%= room.average_rating %>',
                                readOnly: true
                            });
                        </script>
                    <% end %>
                </div>
                <div class="paginate text-center">
                    <%= will_paginate @rooms%>
                </div>
                <hr>
                <h3>
                    Reviews From Guests (<%=@num1%>)
                </h3>
                <div class="container">
                    <% @rooms.each do |room|%>
                        <div class="">
                        <p class="text-center">Room: <%=link_to room.room_name,room_path(room)%></p>
                        <hr>
                            <% room.guest_reviews.each do |review|%>
                                <div class="row my-3">
                                    <div class="col-3">
                                        <%= image_tag(review.user.get_gravatar, alt: review.user.name, class: 'rounded-circle w-25')%>
                                        <br>
                                        <%=link_to review.user.name,user_path(review.user)%>
                                    </div>
                                    <div class="col-3 mt-3">
                                        <div class="" id="stars_guest_<%= review.id %>"></div>
                                    </div>
                                    <div class="col-6">
                                        Comment: <%= review.content %>
                                        <br>
                                        <%= review.reservation.start_date %>
                                        
                                    </div>
                                </div>
                                
                                <script>
                                    $('#stars_guest_<%= review.id %>').raty({
                                        path: '/assets',
                                        score: '<%= review.rate.to_i %>',
                                        readOnly: true
                                    });
                                </script>
                            <% end %>
                        </div>
                        
                        
                    <% end %>
                </div>
                <hr>
                <h3>
                    Reviews From Hosts (<%=@num2%>)
                </h3>
                <div class="container">
                    <% @rooms.each do |room|%>
                        <div class="">
                            <% room.host_reviews.each do |review|%>
                                <div class="row my-3">
                                    <div class="col-3">
                                        <%= image_tag(review.user.get_gravatar, alt: review.user.name, class: 'rounded-circle w-25')%>
                                        <br>
                                        <%=link_to review.user.name,user_path(review.user)%>
                                    </div>
                                    <div class="col-3 mt-3">
                                        <div class="" id="stars_host_<%= review.id %>"></div>
                                    </div>
                                    <div class="col-6">
                                        
                                        Room: <%=link_to room.room_name,room_path(room)%>
                                        <br>
                                        User: <%=link_to @users.find_by(id: review.guest_id).name,user_path(@users.find_by(id: review.guest_id))%>
                                        <br>
                                        Comment: <%= review.content %>
                                        <br>
                                        <%= review.reservation.start_date %>
                                        
                                    </div>
                                </div>
                                
                                <script>
                                    $('#stars_host_<%= review.id %>').raty({
                                        path: '/assets',
                                        score: '<%= review.rate.to_i %>',
                                        readOnly: true
                                    });
                                </script>
                            <% end %>
                        </div>
                        
                        
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>