<div class="row">
    <% rooms.each do |room|%>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-img-top">
                    <%=image_tag room.photos.first.image, class: 'w-100', style: 'height: 200px;'%>
                </div>
                <div class="card-body">
                    <%=link_to room.room_name,room_path(room)%>
                    <br>
                    $<%=room.price%> - 
                    <%=room.room_type%> - 
                    <%= pluralize(room.bedroom_count, "Bedroom") %>
                    <br>
                    <div class="" id="stars_<%= room.id %>"></div>
                    <%= pluralize(room.guest_reviews.count, "Review") %>

                </div>
            </div>
        </div>
        <script>
            $('#stars_<%= room.id %>').raty({
                path: 'assets',
                score: '<%= room.average_rating %>',
                readOnly: true
            });
        </script>
    <% end %>
</div>