<div class="container" id="left">
    <div class="">
        <div class="">
            <button class="btn btn-success my-4" type="button" data-toggle="collapse" data-target="#collapse-panel">More Filter</button>
            <div class="collapse" id="collapse-panel">
                <div class="card card-body">
                    <%= search_form_for @search, url: search_path do |f| %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= f.label :range, "Price Range"%>
                                <div id="slider-range"></div>
                            </div>
                            <div class="col-md-3">
                                <%= f.label :price, "Min Price:"%>
                                <%= f.text_field :price_gteq, id: "amountMin" %>
                            </div>
                            <div class="col-md-3">
                                <%= f.label :price, "Max Price"%>
                                <%= f.text_field :price_lteq, id: "amountMax" %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <%#f.text_field :start_date,class: 'btn btn-light w-100 text-center', id: "start_date", placeholder: "Start Date",readonly: true%>
                                <%= text_field_tag :start_date, params[:start_date], readonly: true, id: "start_date", placeholder: "Start Date",class: 'btn btn-light w-100 text-center' %>
                            </div>
                            <div class="col-md-6">
                                <%= text_field_tag :end_date, params[:end_date], readonly: true, id: "end_date", placeholder: "End Date", disabled: true,class: 'btn btn-light w-100 text-center' %>
                                <%#=f.text_field :end_date,class: 'btn btn-light w-100 text-center', id: "end_date", placeholder: "End Date", disabled: true,readonly: true%>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <%= check_box_tag "q[home_type_eq_any][]", "Apartment" %>
                                <%= f.label :home_type, 'Apartment', id: "apartment"  %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[home_type_eq_any][]", "House" %>
                                <%= f.label :home_type, 'House', id: "house" %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[home_type_eq_any][]", "Bed & Breakfast" %>
                                <%= f.label :home_type, 'Bed & Breakfast' , id: "bed&breakfast"%>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <%= check_box_tag "q[room_type_eq_any][]", "Entire" %>
                                <%= f.label :room_type, 'Entire' %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[room_type_eq_any][]", "Private" %>
                                <%= f.label :room_type, 'Private' %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[room_type_eq_any][]", "Shared" %>
                                <%= f.label :room_type, 'Shared' %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">  
                            <div class="col-md-4">
                                <%= f.label :guest_count, 'Guests' %>
                                <%= f.select :guest_count_gteq, {'1': 1, '2': 2, '3': 3, '4+': 4}, { include_blank: 'Select...'}, { class: 'form-control' , required: true } %>
                    
                            </div>
                            <div class="col-md-4">
                                <%= f.label :bedroom_count, 'Bedrooms' %>
                                <%= f.select :bedroom_count, {'1': 1, '2': 2, '3': 3, '4+': 4}, { include_blank: 'Select...'}, { class: 'form-control' , required: true } %>
                        
                            </div>
                            <div class="col-md-4">
                                <%= f.label :bathroom_count, 'Bathrooms' %>
                                <%= f.select :bathroom_count, {'1': 1, '2': 2, '3': 3, '4+': 4}, { include_blank: 'Select...'}, { class: 'form-control' , required: true } %>
                        
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <%= check_box_tag "q[has_tv_eq]", true %>
                                <%= f.label :has_tv, 'TV' %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[has_kitchen_eq]", true %>
                                <%= f.label :has_kitchen, 'Kitchen' %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[has_internet_eq]", true %>
                                <%= f.label :has_internet, 'Internet' %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <%= check_box_tag "q[has_heating_eq]", true %>
                                <%= f.label :has_heating, 'Heating' %>
                            </div>
                            <div class="col-md-4">
                                <%= check_box_tag "q[has_air_conditioning_eq]", true %>
                                <%= f.label :has_air_conditioning, 'Air Conditioning' %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <%= f.submit "Search",class: 'btn btn-success mt-3 float-right'%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="container">
                <h1>Home</h1>
                <%=render 'rooms'%>
            </div>
        </div>
        
    </div>
    
</div>
<div id="right" class="bg-info">
        
</div>
<script>
    $('#start_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        onSelect: function(selected) {
            $('#end_date').datepicker("option", "minDate", selected);
            $('#end_date').attr("disabled", false);
        }
    });
    $('#end_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        onSelect: function(selected) {
            $('#start_date').datepicker("option", "maxDate", selected);
        }
    });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 1000,
        values: [ 100, 1000 ],
        slide: function( event, ui ) {
            $( "#amountMin" ).val( ui.values[ 0 ] );
            $( "#amountMax" ).val( ui.values[ 1 ] );
        }
        });
        $( "#amountMin" ).val( $( "#slider-range" ).slider( "values", 0 ) );
        $( "#amountMax" ).val( $( "#slider-range" ).slider( "values", 1 ) );
    });
</script>