<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%=render './rooms/your'%>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Your Reservations</h2>
                </div>
                <div class="card-body">
                    <% @rooms.each do |room| %>
                        <% room.reservations.each do |reservation|%>
                            <div class="container row">
                                <div class="col-md-3 mt-2 pl-5">
                                    <%= reservation.start_date %>
                                    <br>
                                    ~
                                    <br>
                                    <%= reservation.end_date %>
                                    
                                </div>
                                <div class="col-md-3"><%=image_tag room.photos.first.image, class: 'w-100', style: 'height: 100px;'%></div>
                                <div class="col-md-3">
                                    <p>
                                        <%=link_to room.room_name,room_path(room)%>
                                    </p>
                                    <div>
                                        Reserved by:
                                        <br>
                                        <%= image_tag(reservation.user.get_gravatar, alt: reservation.user.name, class: 'rounded-circle w-25')%>
                                        <span>
                                            <%=link_to reservation.user.name,user_path(reservation.user)%>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right mt-4">
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal_<%=reservation.id%>">
                                        Review Guest
                                    </button>
                                </div>
                                <!-- Button trigger modal -->
                                
                                <!-- Modal -->
                                
                                <div class="modal fade" id="exampleModal_<%=reservation.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Review Guest</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <%= form_for @review, url:reviews_path(reservation_id: reservation.id)  do |f| %>
                                                <div class="modal-body">
                                                    <div class="text-center" id="stars_<%= reservation.id %>"></div>
                                                    <br>
                                                    <%= f.text_area :content, class: 'form-control w-100 mx-auto' %>
                                                </div>
                                                <%= f.hidden_field :host_id, value: current_user.id%>
                                                <%= f.hidden_field :guest_id, value: reservation.user.id%>
                                                <div class="modal-footer">
                                                    <div class="ml-2 mx-auto">
                                                        <%= f.submit 'Add Review',class: 'btn btn-info form-control'%>
                                                    </div>
                                                </div>
                                                
                                                <script>
                                                    $('#stars_<%= reservation.id %>').raty({
                                                        path: 'assets',
                                                        scoreName: 'review[rate]',
                                                        score: 1
                                                    });
                                                </script>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        <% end %>
                        
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>