<div class="container">
    <div class="container">
        <%=image_tag @room.photos.first.image, class: 'w-100'%>
        <div class="row">
            <div class="col-md-8 my-4">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            <%=@room.room_name%>
                        </h1>
                        <p>
                            <%=@room.address%>
                        </p>
                    </div>
                    <div class="col-md-4 text-right">
                        <%= image_tag(@room.user.get_gravatar, alt: @room.user.name, class: 'rounded-circle w-50')%>
                        <p>
                            <%=link_to @room.user.name,user_path(@room.user)%>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-3 text-center">
                        <i class="fa fa-home fa-2x"></i>
                        <h6><%=@room.home_type%></h6>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-user fa-2x"></i>
                        <h6><%= pluralize(@room.guest_count, "Guest") %></h6>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-bed fa-2x"></i>
                        <h6><%= pluralize(@room.bedroom_count, "Bedroom") %></h6>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-bath fa-2x"></i>
                        <h6><%= pluralize(@room.bathroom_count, "Bathroom") %></h6>
                    </div>
                </div>
                <hr>
                <div class="my-4">
                    <h3>About this room</h3>
                    <p style="">
                        <%=@room.summary%>
                    </p>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-4">
                        <h3>Amenities</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <% if @room.has_tv? %>
                                    <p>TV</p>
                                <% else %>
                                    <p class="text-secondary"><s>TV</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_kitchen? %>
                                    <p>Kitchen</p>
                                <% else %>
                                    <p class="text-secondary"><s>Kitchen</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_internet? %>
                                    <p>Internet</p>
                                <% else %>
                                    <p class="text-secondary"><s>Internet</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_heating? %>
                                    <p>Heating</p>
                                <% else %>
                                    <p class="text-secondary"><s>Heating</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_air_conditioning? %>
                                    <p>Air Conditioning</p>
                                <% else %>
                                    <p class="text-secondary"><s>Air Conditioning</s></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @room.photos.each do |photo|%>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%=photo.id%>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @room.photos.each do |photo|%>
                            <div class="carousel-item <%= photo.id == @room.photos.first.id ? 'active' : '' %>">
                                <%= image_tag photo.image, class: "w-100" %>
                            </div>
                        <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <hr>
                <div id="map">

                </div>

                <hr>
                <div class="container">
                    <h3><%= pluralize(@room.guest_reviews.count, "Review") %><span class="ml-5"id="stars"></span></h3>
                    <script>
                        $('#stars').raty({
                            path: '/assets',
                            score: '<%= @room.average_rating %>',
                            readOnly: true
                        });
                    </script>
                    <div class="container">
                        <% @room.guest_reviews.each do |review|%>
                            <div class="row my-3">
                                <div class="col-3 mt-2">
                                    <%= image_tag(review.user.get_gravatar, alt: review.user.name, class: 'rounded-circle w-25')%>
                                    <br>
                                    <%=link_to review.user.name,user_path(review.user)%>
                                </div>
                                <div class="col-9">
                                    <div class="" id="stars_guest_<%= review.id %>"></div>
                                    Comment: <%= review.content %>
                                    <br>
                                    <%= review.reservation.start_date %>
                                </div>
                            </div>
                            
                            <script>
                                $('#stars_guest_<%= review.id %>').raty({
                                    path: '/assets',
                                    score: '<%= review.rate.to_i %>',
                                    readOnly: true
                                });
                            </script>
                        <% end %>
                            
                    </div>
                </div>

                <hr>
                <div class="container">
                    <h3>Near by</h3>
                    <% if @room.nearbys %>
                        <% for room in @room.nearbys(10) %>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-img-top">
                                            <%= image_tag room.photos.first.image,class: 'w-100'%>
                                        </div>
                                        <div class="card-body">
                                            <%= link_to room.room_name, room %><br/>
                                            (<%= room.distance.round(2) %> kms away)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDly8_3xF9-GUYzunqUzKtpGncphJhM2is"></script>
                
                <script>
                    function initialize() {
                        var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>")};
                        console.log({location});
                        var map = new google.maps.Map(document.getElementById('map'),{
                            center: location,
                            zoom: 14
                        });

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });

                        var infoWindow = new google.maps.InfoWindow({
                            content: '<div id="content"><%= image_tag @room.photos.first.image %></div>'
                        });

                        infoWindow.open(map, marker);
                    }

                    google.maps.event.addDomListener(window,'load', initialize);
                </script>
            </div>
            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    $<%=@room.price%>
                                </p>
                            </div>
                            <div class="col-6 text-right">
                                <p>
                                    Per Night
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <%=form_for ([@room, @room.reservations.new]) do |f|%>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Check In</p>
                                    <%=f.text_field :start_date,class: 'btn btn-light w-100 text-center', id: "start_date", placeholder: "Start Date",readonly: true%>
                                </div>
                                <div class="col-md-6">
                                    <p>Check Out</p>
                                    <%=f.text_field :end_date,class: 'btn btn-light w-100 text-center', id: "end_date", placeholder: "End Date", disabled: true,readonly: true%>
                                </div>
                            </div>

                            <p class="text-center mt-3"><span id="message"></span></p>
                            <div id="preview" style="display: none;">
                                <hr>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            Price:
                                        </div>
                                        <div class="col-6 text-right">
                                            $<%=@room.price%>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            Night(s):
                                        </div>
                                        <p class="col-6 text-right">
                                            <span id="display_night_count"></span>
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            Total Price:
                                        </div>
                                        <p class="col-6 text-right">
                                            <span id="display_total_price"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <%= f.submit "Book now",class: 'btn btn-info w-100 mt-3', id: 'submit', disabled: true %>
                            </div>
                        <% end %>
                        <script>
                            function checkDate(date){
                                dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                                return [$.inArray(dmy, unavailableDates) == -1];
                            }
                            $(function(){
                                unavailableDates = [];
                                $.ajax({
                                    url: '<%= preload_room_path(@room) %>',
                                    dataType: 'json',
                                    success: function(data) {
                                        $.each(data, function(arrID, arrValue){
                                            for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)){
                                                unavailableDates.push($.datepicker.formatDate('d-m-yy' , d));
                                            }
                                        });

                                        $("#start_date").datepicker({
                                            dateFormat: 'dd-mm-yy',
                                            minDate: 0,
                                            maxDate: '3m',
                                            beforeShowDay: checkDate,
                                            onSelect: function(selected){
                                                $('#end_date').datepicker("option", "minDate", selected);
                                                $('#end_date').attr("disabled", false);

                                                var start_date = $('#start_date').datepicker('getDate');
                                                var end_date = $('#end_date').datepicker('getDate');
                                                var nights = (end_date - start_date)/1000/60/60/24;
                                                
                                                var input = {
                                                    'start_date': start_date,
                                                    'end_date': end_date
                                                }
                                                
                                                console.log(input);
                                                $.ajax({
                                                    url: '<%= preview_room_path(@room) %>',
                                                    data: input,
                                                    success: function(data){
                                                        if (data.conflict) {
                                                            $('#message').text("These dates are not available.");
                                                            $('#preview').hide();
                                                            $('#submit').attr("disabled", true);
                                                        } else {
                                                            $('#message').text("");
                                                            $('#preview').show();
                                                            $('#submit').attr("disabled", false);
                                                            if (start_date.getTime() == end_date.getTime()) {
                                                            nights = 1;
                                                            }
                                                            var total_price = <%= @room.price %> * nights;
                                                            $('#display_night_count').text(nights);
                                                            $('#display_total_price').text('$' + total_price);
                                                        }
                                                    }

                                                });
                                            }
                                        });

                                        $("#end_date").datepicker({
                                            dateFormat: 'dd-mm-yy',
                                            minDate: 0,
                                            maxDate: '3m',
                                            beforeShowDay: checkDate,
                                            onSelect: function(selected){
                                                $('#start_date').datepicker("option", "maxDate", selected);

                                                var start_date = $('#start_date').datepicker('getDate');
                                                var end_date = $('#end_date').datepicker('getDate');
                                                var nights = (end_date - start_date)/1000/60/60/24;
                                                
                                                var input = {
                                                    'start_date': start_date,
                                                    'end_date': end_date
                                                }
                                                console.log(input);
                                                $.ajax({
                                                    url: '<%= preview_room_path(@room) %>',
                                                    data: input,
                                                    success: function(data){
                                                        if (data.conflict) {
                                                            $('#message').text("These dates are not available.");
                                                            $('#preview').hide();
                                                            $('#submit').attr("disabled", true);
                                                        } else {
                                                            $('#message').text("");
                                                            $('#preview').show();
                                                            $('#submit').attr("disabled", false);
                                                            if (start_date.getTime() == end_date.getTime()) {
                                                            nights = 1;
                                                            }
                                                            var total_price = <%= @room.price %> * nights;
                                                            $('#display_night_count').text(nights);
                                                            $('#display_total_price').text('$' + total_price);
                                                        }
                                                    }

                                                });
                                            }
                                        });
                                    }
                                });
                            });
                            
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>