<div class="container">
    <div class="container">
        <%=image_tag @room.photos.first.image, class: 'w-100'%>
        <div class="row">
            <div class="col-md-8 my-4">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            <%=@room.room_name%>
                        </h1>
                        <p>
                            <%=@room.address%>
                        </p>
                    </div>
                    <div class="col-md-4 text-right">
                        <%= image_tag(current_user.get_gravatar, alt: current_user.name, class: 'rounded-circle w-50')%>
                        <p>
                            <%=link_to @room.user.name,user_path(@room.user)%>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-3 text-center">
                        <i class="fa fa-home fa-2x"></i>
                        <h6><%=@room.home_type%></h6>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-user fa-2x"></i>
                        <h6><%= pluralize(@room.guest_count, "Guest") %></h6>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-bed fa-2x"></i>
                        <h6><%= pluralize(@room.bedroom_count, "Bedroom") %></h6>
                    </div>
                    <div class="col-md-3 text-center">
                        <i class="fa fa-bath fa-2x"></i>
                        <h6><%= pluralize(@room.bathroom_count, "Bathroom") %></h6>
                    </div>
                </div>
                <hr>
                <div class="my-4">
                    <h3>About this room</h3>
                    <p style="">
                        <%=@room.summary%>
                    </p>
                </div>
                <hr>
                <div class="row my-4">
                    <div class="col-md-4">
                        <h3>Amenities</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <% if @room.has_tv? %>
                                    <p>TV</p>
                                <% else %>
                                    <p class="text-secondary"><s>TV</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_kitchen? %>
                                    <p>Kitchen</p>
                                <% else %>
                                    <p class="text-secondary"><s>Kitchen</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_internet? %>
                                    <p>Internet</p>
                                <% else %>
                                    <p class="text-secondary"><s>Internet</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_heating? %>
                                    <p>Heating</p>
                                <% else %>
                                    <p class="text-secondary"><s>Heating</s></p>
                                <% end %>
                            </div>
                            <div class="col-md-4">
                                <% if @room.has_air_conditioning? %>
                                    <p>Air Conditioning</p>
                                <% else %>
                                    <p class="text-secondary"><s>Air Conditioning</s></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @room.photos.each do |photo|%>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%=photo.id%>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @room.photos.each do |photo|%>
                            <div class="carousel-item <%= photo.id == @room.photos.first.id ? 'active' : '' %>">
                                <%= image_tag photo.image, class: "w-100" %>
                            </div>
                        <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <hr>
                <div id="map">

                </div>

                <hr>
                <div class="container">
                    <h3>Reviews</h3>
                </div>

                <hr>
                <div class="container">
                    <h3>Near by</h3>
                    <% if @room.nearbys %>
                        <% for room in @room.nearbys(10) %>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-img-top">
                                            <%= image_tag room.photos.first.image,class: 'w-100'%>
                                        </div>
                                        <div class="card-body">
                                            <%= link_to room.room_name, room %><br/>
                                            (<%= room.distance.round(2) %> kms away)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDly8_3xF9-GUYzunqUzKtpGncphJhM2is"></script>
                
                <script>
                    function initialize() {
                        var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>")};
                        console.log({location});
                        var map = new google.maps.Map(document.getElementById('map'),{
                            center: location,
                            zoom: 14
                        });

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });

                        var infoWindow = new google.maps.InfoWindow({
                            content: '<div id="content"><%= image_tag @room.photos.first.image %></div>'
                        });

                        infoWindow.open(map, marker);
                    }

                    google.maps.event.addDomListener(window,'load', initialize);
                </script>
            </div>
            <div class="col-md-4 my-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    $<%=@room.price%>
                                </p>
                            </div>
                            <div class="col-6 text-right">
                                <p>
                                    Per Night
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <%=form_for @reservation do |f|%>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Check In</p>
                                    <%=f.date_field :start_date, { class: 'form-control w-100' , required: true}%>
                                </div>
                                <div class="col-md-6">
                                    <p>Check In</p>
                                    <%=f.date_field :end_date, { class: 'form-control w-100' , required: true}%>
                                </div>
                                <div class="col-md-12 form-group">
                                    <%= f.submit "Book now",class: 'btn btn-info w-100 mt-3'%>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>