<!DOCTYPE html>
<html class="h-100" style="margin-top:50px;">
    <head>
        <title>AirbnbRen</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    </head>

    <body class="d-flex flex-column h-100">
        <%= render 'layouts/header' %>
        <div class="container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
        
        <%= yield %>
        <%= render 'layouts/footer' %>
    </body>
</html>
