<div class="container w-50 mw-auto">
    <h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>
    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field form-group">
            <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control",placeholder: "Full Name" %>
        </div>

        <div class="field form-group">
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",class: "form-control",placeholder: "Phone Number" %>
        </div>

        <div class="field form-group">
            <%= f.text_area :description, autofocus: true, autocomplete: "description",class: "form-control",placeholder: "Description" %>
        </div>

        <div class="field form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",placeholder: "Email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
            <%= f.password_field :password, autocomplete: "new-password",class: "form-control",placeholder: "New Password(leave blank if you don't want to change it)" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
        </div>

        <div class="field form-group"><i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
        </div>

        <div class="actions form-group">
            <%= f.submit "Update",class: 'btn btn-primary w-100' %>
        </div>
    <% end %>
    <hr>
    <%= button_to "View my profile", "#",class: 'btn btn-info w-100' %>
    <hr>
    <%= button_to "Delete my account", registration_path(resource_name),class: 'btn btn-danger w-100', data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
